
<p><%= @msg.user.username %> was spotted</p>

<p>Location: <%= @msg.address %></p>

<p>Date-Time: <%= @msg.created_at.to_s(:short) %></p>

<% if (@msg.picture != 'null')  %>
  <img src="<%= @msg.picture %>" alt="No image available" height="300" width="180">
<% end  %>

<p>Then and there..</p>

<p>Footprints</p>
